.footer{
    background: url('/src/assets/img3.jpg');
    padding: 111px 0 293px;
 }
 .txt{
    font-size: 16px;
    line-height: 26px;
    color: #FFFF;
    font-weight: 400;
    text-align: left;
    font-family: "Nunito", sans-serif;
 }